# Preprocess in Python

### Import Libraries and CSV Files

In [29]:
import pandas as pd
from sqlalchemy import create_engine

In [30]:
dict = {}
files = ['artist','canvas_size','image_link','museum','museum_hours',
         'product_size','subject','work']

for file in files:
    dict[file] = pd.read_csv(f'C:/Users/ryana/Documents/Github/SQL-Case-Study-on-World-Famous-Paintings/dataset/{file}.csv')

dict['artist'].head()

,artist_id,full_name,first_name,middle_names,last_name,nationality,style,birth,death
0,500,Pierre-Auguste Renoir,Pierre,Auguste,Renoir,French,Impressionist,1841,1919
1,501,Alexandre Cabanel,Alexandre,NaN,Cabanel,French,Classicist,1823,1889
2,502,James Ensor,James,NaN,Ensor,Belgian,Expressionist,1860,1949
3,503,Maximilien Luce,Maximilien,NaN,Luce,French,Pointillist,1858,1941
4,504,August Macke,August,NaN,Macke,German,Expressionist,1887,1914

### Datatypes

In [31]:
for file in files:
    print(f'{file} table\n', dict[file].dtypes,'\n')

artist table
 artist_id        int64
full_name       object
first_name      object
middle_names    object
last_name       object
nationality     object
style           object
birth            int64
death            int64
dtype: object

canvas_size table
 size_id      int64
width        int64
height     float64
label       object
dtype: object

image_link table
 work_id                 int64
url                    object
thumbnail_small_url    object
thumbnail_large_url    object
dtype: object

museum table
 museum_id     int64
name         object
address      object
city         object
state        object
postal       object
country      object
phone        object
url          object
dtype: object

museum_hours table
 museum_id     int64
day          object
open         object
close        object
dtype: object

product_size table
 work_id           int64
size_id          object
sale_price        int64
regular_price     int64
dtype: object

subject table
 work_id     int64
subject    object
dtype: object

work table
 work_id        int64
name          object
artist_id      int64
style         object
museum_id    float64
dtype: object

Change Museum hours to Time datatype.

In [32]:
def change_to_time(column_name):
    # clean time format
    dict['museum_hours'][column_name] = dict['museum_hours'][column_name]\
        .str.upper()\
        .str.replace(':AM','AM')\
        .str.replace(':PM','PM')\
        .str.replace(' ','')

    #convert to time 
    dict['museum_hours'][column_name] = pd.to_datetime(dict['museum_hours'][column_name], errors='coerce').dt.time

change_to_time('open')
change_to_time('close')

dict['museum_hours'][['open','close']].sample(10)

C:\Users\ryana\AppData\Local\Temp\ipykernel_23416\398318145.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dict['museum_hours'][column_name] = pd.to_datetime(dict['museum_hours'][column_name], errors='coerce').dt.time
C:\Users\ryana\AppData\Local\Temp\ipykernel_23416\398318145.py:10: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  dict['museum_hours'][column_name] = pd.to_datetime(dict['museum_hours'][column_name], errors='coerce').dt.time

         open     close
241  10:00:00  16:30:00
214  10:00:00  18:00:00
294  10:00:00  17:00:00
334  10:00:00  18:00:00
321  10:00:00  21:00:00
171  09:00:00  18:00:00
197  11:00:00  18:00:00
12   11:00:00  18:00:00
231  10:00:00  17:00:00
209  11:00:00  16:00:00

### Standardize format

Day in museum_hours contains typo (Thusday)

In [33]:
dict['museum_hours'].day.unique()

array(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thusday', 'Friday',
       'Saturday', 'Thursday'], dtype=object)

In [34]:
dict['museum_hours'].day = dict['museum_hours'].day.str.replace('Thusday','Thursday')

### Remove Duplicates

In [35]:
for file in files:
    dup_count = dict[file].duplicated().sum()
    print(file,': ',dup_count)

artist :  0
canvas_size :  0

image_link :  60
museum :  0
museum_hours :  1
product_size :  687
subject :  59
work :  60

There are duplicate values for image_link, museum_hours, product_size, subject, and work. Removed as follows:

In [36]:
for file in files:
    dict[file] = dict[file].drop_duplicates()

### Null Values

In [37]:
for file in files:
    null_val = dict[file].isnull().sum()
    print(file, '\n', null_val, '\n')

artist
 artist_id         0
full_name         0
first_name        0
middle_names    273
last_name         0
nationality       0
style             0
birth             0
death             0
dtype: int64

canvas_size
 size_id    0
width      0
height     7
label      0
dtype: int64

image_link
 work_id                0
url                    0
thumbnail_small_url    2
thumbnail_large_url    2
dtype: int64

museum
 museum_id     0
name          0
address       0
city          0
state        19
postal        7
country       0
phone         0
url           0
dtype: int64

museum_hours
 museum_id    0
day          0
open         0
close        0
dtype: int64

product_size
 work_id          0
size_id          0
sale_price       0
regular_price    0
dtype: int64

subject
 work_id    0
subject    0
dtype: int64

work
 work_id          0
name             0
artist_id        0
style         1228
museum_id    10163
dtype: int64

### Connect and Import Dataframe to PostgreSQL

In [ ]:
username = 'postgres'
password = 'pass123'

connection_string = f'postgresql://{username}:{password}@localhost/painting'
db = create_engine(connection_string)
conn = db.connect()

for file in files:
    dict[file].to_sql(file, con=conn, if_exists='replace', index=False)